
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

.movies-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-movies {
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
}

.single-movie {
    text-align: center;
}

.single-movie h3, .single-movie p {
    padding: 0;
    margin: 0;
}

.single-movie img{
    border-radius: 8px;
    margin-top: 15px;
}