.filters {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-family: system-ui;
    font-weight: 700;
    gap: 2rem;
}

.filters div {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    object-fit: cover
}